<h1>Nova Ordem de Serviço</h1>

<%= form_with model: @ordem_servico, url: admin_ordem_servicos_path, method: :post do |form| %>
  <% if @ordem_servico.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ordem_servico.errors.count, "erro") %> impediram que esta ordem de serviço fosse salva:</h2>

      <ul>
        <% @ordem_servico.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :cliente_id, "Cliente" %><br>
    <%= form.select :cliente_id, options_from_collection_for_select(@clientes, :id, :nome), prompt: "Selecione um Cliente" %>
  </div>

  <div class="field">
    <%= form.label :tecnico_id, "Técnico" %><br>
    <%= form.select :tecnico_id, options_from_collection_for_select(@tecnicos, :id, :nome), prompt: "Selecione um Técnico" %>
  </div>

  <div class="field">
    <%= form.label :descricao_problema, "Descrição do Problema" %><br>
    <%= form.text_area :descricao_problema %>
  </div>

  <div class="field">
    <%= form.label :equipamento, "Equipamento" %><br>
    <%= form.text_field :equipamento %>
  </div>

  <div class="field">
    <%= form.label :data_inicio, "Data de Início" %><br>
    <%= form.datetime_field :data_inicio %>
  </div>

  <div class="field">
    <%= form.label :data_fim, "Data de Fim" %><br>
    <%= form.datetime_field :data_fim %>
  </div>

  <div class="field">
    <%= form.label :assinatura_cliente, "Assinatura do Cliente" %><br>
    <%= form.text_field :assinatura_cliente %>
  </div>

    <div class="field">
    <%= form.label :status, "Status" %><br>
    <%= form.select :status, ['aberta', 'em andamento', 'aguardando_aprovacao', 'concluída'], prompt: "Selecione o Status" %>
  </div>

  <div class="field">
    <%= form.label :latitude_inicio, "Latitude Início" %><br>
    <%= form.text_field :latitude_inicio %>
  </div>

  <div class="field">
    <%= form.label :longitude_inicio, "Longitude Início" %><br>
    <%= form.text_field :longitude_inicio %>
  </div>

   <div class="field">
    <%= form.label :latitude_fim, "Latitude Fim" %><br>
    <%= form.text_field :latitude_fim %>
  </div>

  <div class="field">
    <%= form.label :longitude_fim, "Longitude Fim" %><br>
    <%= form.text_field :longitude_fim %>
  </div>

  <div class="actions">
    <%= form.submit "Criar Ordem de Serviço" %>
  </div>
<% end %>

<%= link_to 'Voltar', admin_ordem_servicos_path %>
